.psih {
    color:chartreuse;
    background-color: #0051ff;
    width: 300px;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.vt4m {
    color:azure;
    background-color:brown;
    display: block;
    height: 100px;
    /* margin:0 0 0 20px; */
    margin-left: 20px;
    padding: 20px;
}
.parent {
    display:flex;
    background-color: grey;
    height: 400px;
    align-items: center;
}